.link {
    opacity: 0.65;
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    color:#fff; /*меняем цвет ссылок*/
    padding: 5px; /*добавляем отступ*/
    display: block;
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
    font-weight: bold;
}
.link:hover {
    color:#fff; /*меняем цвет ссылок*/
    text-decoration: none;
    opacity: 1;
}

.container{
    margin: 40px;
}

